*,
*:before, 
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #141414;
}
body {
  font-family: sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

.navbar-logo{
  /* MADHAV SHARMA */


position: fixed;
width: 301px;
height: 42px;
left: 53px;
top: 33px;

font-family: 'Neue Montreal';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 42px;
background-color:rgba(0, 0, 0, 0);
mix-blend-mode: difference;
/* identical to box height */


color: #FFFFFF;
}

.work-btn{
  /* Work, */


position: fixed;
width: 93px;
height: 42px;
left: 1196px;
top: 34px;

font-family: 'Neue Montreal';
mix-blend-mode: difference;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 42px;
background-color:rgba(0, 0, 0, 0);
/* identical to box height */
color: #FFFFFF;
}

.work-btn:after{
  content: "";
  position:absolute;
  left: 0px;
  bottom: 6px;
  width: 0%;
  height: 2px;
  background-color: aliceblue;
  transition: width 0.25s ease-out;
}
.work-btn:hover:after{
width: 55%;
left: 0;
right: auto;
bottom: 6px;
}

.about-me-btn{
  /* Work, */


position: fixed;
width: 138px;
height: 42px;
left: 1255px;
top: 34px;

font-family: 'Neue Montreal';
mix-blend-mode: difference;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 42px;
background-color:rgba(0, 0, 0, 0);
/* identical to box height */


color: #FFFFFF;
}

.about-me-btn:after{
  content: "";
  position:absolute;
  left: 0px;
  bottom: 6px;
  width: 0%;
  height: 2px;
  background-color: aliceblue;
  transition: width 0.25s ease-out;
}
.about-me-btn:hover:after{
width: 65%;
left: 0;
right: auto;
bottom: 6px;
}

.get-in-touch-btn{
  /* Get in touch */


position: fixed;
width: 189px;
height: 42px;
left: 1351px;
top: 34px;

font-family: 'Neue Montreal';
mix-blend-mode: difference;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 42px;
background-color:rgba(0, 0, 0, 0);
/* identical to box height */


color: #FFFFFF;
}

.get-in-touch-btn:after{
  content: "";
  position:absolute;
  left: 0px;
  bottom: 6px;
  width: 0%;
  height: 2px;
  background-color: aliceblue;
  transition: width 0.25s ease-out;
}
.get-in-touch-btn:hover:after{
width: 58%;
left: 0;
right: auto;
bottom: 6px;
}

.subtitle{
  /* CURRENTLY A COMPUTER SCIENCE STUDENT AT VELLORE INSTITUTE OF TECHNOLOGY. */


position: absolute;
width: 193px;
height: 100px;
left: 53px;
top: 150px;

font-family: 'Neue Montreal';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
background-color:rgba(0, 0, 0, 0);

color: #FFFFFF;

}

.creat-dev{
  /* CREATIVE DEVELOPER */


position: absolute;
width: 804px;
height: 412px;
left: 47px;
top: 322px;

font-family: 'Neue Montreal';
font-style: normal;
font-weight: 700;
font-size: 130px;
line-height: 150px;
background-color:rgba(0, 0, 0, 0);

color: #FFFFFF;
}

.portfolio-thumb img{
    /* image 1 */


position: absolute;
width: 610px;
height: 406px;
left: 848px;
top: 201px;
z-index: -1000;
background: url(image.png);
overflow: hidden;
}

.portfolio-thumb{
  width: 60%;
  height:100%;
}

.cursor{
  position: absolute;
  background: white;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.5s cubic-bezier(0.74, -1.27, 0.3, 2.23) transform,
  0.2s cubic-bezier(0.74, -1.27, 0.3, 2.23) opacity;
  user-select: none;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: scale(0.8);
}

.cursor::before{
  content:"";
  width: 100%;
  height:100%;
  position: absolute;
  top:0;
  left: 0;
  display: block;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  opacity: 0;
}

.cursor.active{
  opacity: 1;
  transform: scale(8);
}

.cursor.active:before{
  opacity: 1;
}

.name{
  /* MADHAV SHARMA */


position: absolute;
width: 512px;
height: 292px;
left: 944px;
top: 705px;

font-family: 'Neue Montreal';
font-style: normal;
font-weight: 500;
font-size: 125px;
line-height: 140px;
background-color:rgba(0, 0, 0, 0);

color: #FFFFFF;
}

.arrow{
  /* Arrow 1 */


box-sizing: border-box;

position: absolute;
width: 330px;
height: 0px;
left: 211px;
top: 1005px;

border: 5px solid #FFFFFF;
transform: rotate(90deg);
}

.quote{
  /* Design is intelligence that has been made visible for the others to see. */


position: absolute;
width: 300px;
height: 62px;
left: 232px;
top: 831px;

font-family: 'Neue Montreal';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 31px;
text-transform: uppercase;
background-color:rgba(0, 0, 0, 0);
color: #FFFFFF;
}

.based{
  /* Based in Delhi India */


position: absolute;
width: 134px;
height: 50px;
left: 687px;
top: 42px;

font-family: 'Neue Montreal';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 25px;
text-align: center;
background-color:rgba(0, 0, 0, 0);
color: #FFFFFF;
}

.o1{
  /* 01/ */


position: absolute;
width: 31px;
height: 25px;
left: 53px;
top: 1272px;

font-family: 'Neue Montreal';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 25px;
text-align: center;
background-color:rgba(0, 0, 0, 0);

color: #FFFFFF;
}

.web{
  /* PASSIONATE ABOUT WEB DEVELOPMET. I LOVE WORKING WITH A MINIMALISTIC APPROACH WITH UTMOST CREATIVITY , CREATING USER FRIENDLY INTERFACES. I MAKE indelible WEB EXPERICES. */


position: absolute;
width: 937px;
height: 348px;
left: 395px;
top: 1265px;

font-family: 'Neue Montreal';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 58px;
text-transform: uppercase;

color: #FFFFFF;
background-color:rgba(0, 0, 0, 0);

color: #FFFFFF;

}

.web2{
  /* WHEN I AM NOT WORKING OR EXPLORING SOMETHING NEW , I’M PROBABLY PLAYING GAMES OR STREAMING. */


position: absolute;
width: 948px;
height: 174px;
left: 397px;
top: 1573px;

font-family: 'Neue Montreal';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 58px;
text-transform: uppercase;
background-color:rgba(0, 0, 0, 0);

color: #FFFFFF;
}
